# Day 1

In [105]:
import pandas as pd
import numpy as np
import math
from plotnine import *
%matplotlib inline

## Puzzle 1

In [3]:
def fuel(mass):
    return mass // 3 - 2

In [9]:
df1 = pd.read_csv("data/input1.txt", header=None, names=["mass"])

In [10]:
df1

      mass
0    80228
1    76027
2   101696
3    66033
4   127249
..     ...
95  146102
96   52655
97  130193
98  109013
99  120465

[100 rows x 1 columns]

In [16]:
fuel(12)

2

In [17]:
fuel(14)

2

In [18]:
fuel(1969)

654

In [19]:
fuel(100756)

33583

In [11]:
sum([fuel(m) for m in df1["mass"]])

3502510

## Puzzle 2

In [14]:
def fuel_fuel(mass):
    total = 0
    remaining = fuel(mass)
    while remaining >= 0:
        total += remaining
        remaining = fuel(remaining)
    return total

In [20]:
fuel_fuel(14)

2

In [21]:
fuel_fuel(1969)

966

In [22]:
fuel_fuel(100756)

50346

In [15]:
sum([fuel_fuel(m) for m in df1["mass"]])

5250885

# Day 2

## Puzzle 1

In [47]:
data = [1,0,0,3,1,1,2,3,1,3,4,3,1,5,0,3,2,13,1,19,1,19,10,23,1,23,13,27,1,6,27,31,1,9,31,35,2,10,35,39,1,39,6,43,1,6,43,47,2,13,47,51,1,51,6,55,2,6,55,59,2,59,6,63,2,63,13,67,1,5,67,71,2,9,71,75,1,5,75,79,1,5,79,83,1,83,6,87,1,87,6,91,1,91,5,95,2,10,95,99,1,5,99,103,1,10,103,107,1,107,9,111,2,111,10,115,1,115,9,119,1,13,119,123,1,123,9,127,1,5,127,131,2,13,131,135,1,9,135,139,1,2,139,143,1,13,143,0,99,2,0,14,0]

In [48]:
data[1] = 12
data[2] = 2

In [49]:
#testing
#data = [1,1,1,4,99,5,6,0,99]

In [50]:
opindex = 0
while data[opindex] != 99:
    if data[opindex] == 1:
        data[data[opindex + 3]] = data[data[opindex + 1]] + data[data[opindex + 2]] 
    elif data[opindex] == 2:
        data[data[opindex + 3]] = data[data[opindex + 1]] * data[data[opindex + 2]]
    else:
        print("ERROR!")
    opindex += 4

In [51]:
data

[7210630,
 12,
 2,
 2,
 1,
 1,
 2,
 3,
 1,
 3,
 4,
 3,
 1,
 5,
 0,
 3,
 2,
 13,
 1,
 60,
 1,
 19,
 10,
 64,
 1,
 23,
 13,
 69,
 1,
 6,
 27,
 71,
 1,
 9,
 31,
 74,
 2,
 10,
 35,
 296,
 1,
 39,
 6,
 298,
 1,
 6,
 43,
 300,
 2,
 13,
 47,
 1500,
 1,
 51,
 6,
 1502,
 2,
 6,
 55,
 3004,
 2,
 59,
 6,
 6008,
 2,
 63,
 13,
 30040,
 1,
 5,
 67,
 30041,
 2,
 9,
 71,
 90123,
 1,
 5,
 75,
 90124,
 1,
 5,
 79,
 90125,
 1,
 83,
 6,
 90127,
 1,
 87,
 6,
 90129,
 1,
 91,
 5,
 90130,
 2,
 10,
 95,
 360520,
 1,
 5,
 99,
 360521,
 1,
 10,
 103,
 360525,
 1,
 107,
 9,
 360528,
 2,
 111,
 10,
 1442112,
 1,
 115,
 9,
 1442115,
 1,
 13,
 119,
 1442120,
 1,
 123,
 9,
 1442123,
 1,
 5,
 127,
 1442124,
 2,
 13,
 131,
 7210620,
 1,
 9,
 135,
 7210623,
 1,
 2,
 139,
 7210625,
 1,
 13,
 143,
 0,
 99,
 2,
 0,
 14,
 0]

## Puzzle 2

In [58]:
def intcode(data, noun, verb):
    data[1] = noun
    data[2] = verb
    opindex = 0
    while data[opindex] != 99:
        if data[opindex] == 1:
            data[data[opindex + 3]] = data[data[opindex + 1]] + data[data[opindex + 2]] 
        elif data[opindex] == 2:
            data[data[opindex + 3]] = data[data[opindex + 1]] * data[data[opindex + 2]]
        else:
            print("ERROR!")
            return -1
        opindex += 4
    return data[0]

In [77]:
data = [1,0,0,3,1,1,2,3,1,3,4,3,1,5,0,3,2,13,1,19,1,19,10,23,1,23,13,27,1,6,27,31,1,9,31,35,2,10,35,39,1,39,6,43,1,6,43,47,2,13,47,51,1,51,6,55,2,6,55,59,2,59,6,63,2,63,13,67,1,5,67,71,2,9,71,75,1,5,75,79,1,5,79,83,1,83,6,87,1,87,6,91,1,91,5,95,2,10,95,99,1,5,99,103,1,10,103,107,1,107,9,111,2,111,10,115,1,115,9,119,1,13,119,123,1,123,9,127,1,5,127,131,2,13,131,135,1,9,135,139,1,2,139,143,1,13,143,0,99,2,0,14,0]

In [78]:
intcode(data, 38, 92)

19690720

In [74]:
for n in range(38, 39):
    for v in range(1, 100):
        data = [1,0,0,3,1,1,2,3,1,3,4,3,1,5,0,3,2,13,1,19,1,19,10,23,1,23,13,27,1,6,27,31,1,9,31,35,2,10,35,39,1,39,6,43,1,6,43,47,2,13,47,51,1,51,6,55,2,6,55,59,2,59,6,63,2,63,13,67,1,5,67,71,2,9,71,75,1,5,75,79,1,5,79,83,1,83,6,87,1,87,6,91,1,91,5,95,2,10,95,99,1,5,99,103,1,10,103,107,1,107,9,111,2,111,10,115,1,115,9,119,1,13,119,123,1,123,9,127,1,5,127,131,2,13,131,135,1,9,135,139,1,2,139,143,1,13,143,0,99,2,0,14,0]
        i = intcode(data, n, v)
        print(n, v, 19690720 - i)

38 1 91
38 2 90
38 3 89
38 4 88
38 5 87
38 6 86
38 7 85
38 8 84
38 9 83
38 10 82
38 11 81
38 12 80
38 13 79
38 14 78
38 15 77
38 16 76
38 17 75
38 18 74
38 19 73
38 20 72
38 21 71
38 22 70
38 23 69
38 24 68
38 25 67
38 26 66
38 27 65
38 28 64
38 29 63
38 30 62
38 31 61
38 32 60
38 33 59
38 34 58
38 35 57
38 36 56
38 37 55
38 38 54
38 39 53
38 40 52
38 41 51
38 42 50
38 43 49
38 44 48
38 45 47
38 46 46
38 47 45
38 48 44
38 49 43
38 50 42
38 51 41
38 52 40
38 53 39
38 54 38
38 55 37
38 56 36
38 57 35
38 58 34
38 59 33
38 60 32
38 61 31
38 62 30
38 63 29
38 64 28
38 65 27
38 66 26
38 67 25
38 68 24
38 69 23
38 70 22
38 71 21
38 72 20
38 73 19
38 74 18
38 75 17
38 76 16
38 77 15
38 78 14
38 79 13
38 80 12
38 81 11
38 82 10
38 83 9
38 84 8
38 85 7
38 86 6
38 87 5
38 88 4
38 89 3
38 90 2
38 91 1
38 92 0
38 93 -1
38 94 -2
38 95 -3
38 96 -4
38 97 -5
38 98 -6
38 99 -7

In [79]:
100 * 38 + 92

3892

# Day 3

## Puzzle 1

In [95]:
def path(directions):
    deltas = {"U": (0, 1),
              "D": (0, -1),
              "L": (-1, 0),
              "R": (1, 0)}
    
    p = set()
    coord = np.array((0,0))
    #p.add(tuple(coord))
    dirs = directions.split(",")
    for d in dirs:
        card = d[0]
        dist = int(d[1:])
        for i in range(dist):
            coord += deltas[card]
            p.add(tuple(coord))
    return p

In [108]:
def cportdist(wire1, wire2):
    w1 = path(wire1)
    w2 = path(wire2)
    i = w1.intersection(w2)
    print(i)
    least = 1000000000000
    for c in i:
        mdist = abs(c[0]) + abs(c[1])
        if mdist < least:
            least = mdist
    return least

In [109]:
cportdist("R8,U5,L5,D3", "U7,R6,D4,L4")

{(3, 3), (6, 5)}

6

In [110]:
cportdist("R75,D30,R83,U83,L12,D49,R71,U7,L72", "U62,R66,U55,R34,D71,R55,D58,R83")

{(146, 46), (158, -12), (155, 4), (155, 11)}

159

In [111]:
cportdist("R98,U47,R26,D63,R33,U87,L62,D20,R33,U53,R51", "U98,R91,D20,R16,D67,R40,U7,R15,U6,R7")

{(124, 11), (107, 71), (107, 51), (107, 47), (157, 18)}

135

In [115]:
fin = open("data/input3.txt")
data = fin.readlines()
cportdist(data[0].strip(), data[1].strip())

{(292, 1315), (68, 1064), (604, 629), (297, 716), (681, 629), (170, 352), (315, 712), (786, 712), (170, 965), (156, 1454), (258, 1454), (292, 1064), (854, 221), (681, 0), (170, 815), (57, 404), (-205, 404), (292, 1091), (-132, 815), (-4, 1062), (68, 965), (292, 1277), (297, 1026), (141, 1062), (-488, 0), (-488, 308), (403, 0), (57, 629), (604, 545), (681, 545), (610, 0), (68, 1114), (68, 815), (297, 1062), (57, 1062), (292, 965), (-49, 1062), (681, 221), (68, 790), (604, 221), (292, 815), (292, 1114), (837, 712)}

403

## Puzzle 2

In [121]:
def path(directions):
    deltas = {"U": (0, 1),
              "D": (0, -1),
              "L": (-1, 0),
              "R": (1, 0)}
    
    p = {}
    coord = np.array((0,0))
    steps = 0
    dirs = directions.split(",")
    for d in dirs:
        card = d[0]
        dist = int(d[1:])
        for i in range(dist):
            steps += 1
            coord += deltas[card]
            if tuple(coord) not in p:
                p[tuple(coord)] = steps
    return p

In [124]:
def cportstepdist(wire1, wire2):
    w1 = path(wire1)
    w2 = path(wire2)
    i = set(w1.keys()).intersection(set(w2.keys()))
    print(i)
    least = 1000000000000
    for c in i:
        mdist = w1[c] + w2[c]
        if mdist < least:
            least = mdist
    return least

In [125]:
cportstepdist("R8,U5,L5,D3", "U7,R6,D4,L4")

{(3, 3), (6, 5)}

30

In [126]:
cportstepdist("R75,D30,R83,U83,L12,D49,R71,U7,L72", "U62,R66,U55,R34,D71,R55,D58,R83")

{(146, 46), (158, -12), (155, 4), (155, 11)}

610

In [127]:
cportstepdist("R98,U47,R26,D63,R33,U87,L62,D20,R33,U53,R51", "U98,R91,D20,R16,D67,R40,U7,R15,U6,R7")

{(124, 11), (107, 71), (107, 51), (107, 47), (157, 18)}

410

In [128]:
fin = open("data/input3.txt")
data = fin.readlines()
cportstepdist(data[0].strip(), data[1].strip())

{(292, 1315), (68, 1064), (604, 629), (297, 716), (681, 629), (170, 352), (315, 712), (786, 712), (170, 965), (156, 1454), (258, 1454), (292, 1064), (854, 221), (681, 0), (170, 815), (57, 404), (-205, 404), (292, 1091), (-132, 815), (-4, 1062), (68, 965), (292, 1277), (297, 1026), (141, 1062), (-488, 0), (-488, 308), (403, 0), (57, 629), (604, 545), (681, 545), (610, 0), (68, 1114), (68, 815), (297, 1062), (57, 1062), (292, 965), (-49, 1062), (681, 221), (68, 790), (604, 221), (292, 815), (292, 1114), (837, 712)}

4158

# Day 4

## Puzzle 1

In [130]:
def adj(word):
    for i in range(len(word) - 1):
        if word[i] == word[i + 1]:
            return True
    return False

In [131]:
def inc(word):
    for i in range(len(word) - 1):
        if word[i] > word[i + 1]:
            return False
    return True

In [133]:
def valid(word):
    return adj(word) and inc(word)

In [135]:
valid("111111")

True

In [136]:
valid("223450")

False

In [137]:
valid("123789")

False

In [134]:
count = 0
for i in range(248345,746316):
    w = str(i)
    if valid(w):
        count += 1
count

1019

## Puzzle 2

In [138]:
def newadj(word):
    streak = 0
    for i in range(len(word) - 1):
        if word[i] == word[i + 1]:
            streak += 1
        else:
            if streak == 1:
                return True
            else:
                streak = 0
    return streak == 1

In [139]:
def newvalid(word):
    return newadj(word) and inc(word)

In [141]:
newvalid("112233")

True

In [142]:
newvalid("123444")

False

In [143]:
newvalid("111122")

True

In [144]:
count = 0
for i in range(248345,746316):
    w = str(i)
    if newvalid(w):
        count += 1
count

660

# Day 5

## Puzzle 1

In [ ]:
def intcode(data, noun, verb, inp):
    skipd = {1:4, 2:4, 3:2, 4:2}
    data[1] = noun
    data[2] = verb
    opindex = 0
    opcode = data[opindex]
    while opcode != 99:
        if opcode == 1:
            data[data[opindex + 3]] = data[data[opindex + 1]] + data[data[opindex + 2]] 
        elif opcode == 2:
            data[data[opindex + 3]] = data[data[opindex + 1]] * data[data[opindex + 2]]
        else:
            print("ERROR!")
            return -1
        opindex += skipd[opcode]
    return data[0]