In [1]:
import pandas as pd
from plotnine import *
import numpy as np

%matplotlib inline

# Day 1
## Part 1

In [7]:
df = pd.read_csv("data/input1.txt", header=None, names=["Expense"])

In [8]:
df

     Expense
0       1287
1       1366
2       1669
3       1724
4       1338
..       ...
195     1862
196     1430
197     1793
198     1901
199     1909

[200 rows x 1 columns]

In [17]:
def sum2020(data):
    for i in range(len(data)):
        for j in range(i, len(data)):
            if data[i] + data[j] == 2020:
                print(data[i], data[j])
                return data[i] * data[j]

In [18]:
sample = [1721, 979, 366, 299, 675, 1456]
sum2020(sample)

1721 299

514579

In [19]:
sum2020(df["Expense"].values)

437 1583

691771

## Part 2

In [20]:
def sumthree2020(data):
    for i in range(len(data)):
        for j in range(i, len(data)):
            for k in range(j, len(data)):
                if data[i] + data[j] + data[k] == 2020:
                    print(data[i], data[j], data[k])
                    return data[i] * data[j] * data[k]

In [21]:
sample = [1721, 979, 366, 299, 675, 1456]
sumthree2020(sample)

979 366 675

241861950

In [22]:
sumthree2020(df["Expense"].values)

717 335 968

232508760

# Day 2
## Part 1

In [23]:
sample = ["1-3 a: abcde", "1-3 b: cdefg", "2-9 c: ccccccccc"]

In [34]:
def num_valid(pwords):
    count = 0
    for p in pwords:
        pieces = p.split()
        t = pieces[2].count(pieces[1][0])
        low, high = [int(x) for x in pieces[0].split("-")]
        if low <= t <= high:
            count += 1
    return count

In [35]:
num_valid(sample)

2

In [38]:
fin = open("data/input2.txt")
data = fin.readlines()
fin.close()

In [39]:
num_valid(data)

636

## Part 2

In [40]:
def num_valid(pwords):
    count = 0
    for p in pwords:
        pieces = p.split()
        first, second = [int(x) - 1 for x in pieces[0].split("-")]
        nw = pieces[2][first] + pieces[2][second]
        c = pieces[1][0]
        if nw.count(c) == 1:
            count += 1
    return count

In [41]:
num_valid(sample)

1

In [42]:
num_valid(data)

588